.speech {
    font-size: x-small;
    color:#000000;
    background-color: #1c87c9;
}
.stage-direction{

    font-size: x-small;
    color:#000000;
    background-color: #8fafc4;
}
.stage-direction:hover{

    font-size: x-small;
    color:#000000;
    background-color: #8fafc4;
}
  .name{
        font-size: x-small;
        color:#000000;
        background-color: #1c87c9;

  }
  .PARKER{

                    color:#370981;
  }
  .lADYWINDERMERE{
                    color:#a11212;

  }
  .lORDDARLINGTON{
                      color:#ad1881;

  }